[Desktop Entry]
Name=EiskaltDC++ Qt
Type=Application
Exec=eiskaltdcpp-qt %U
Icon=eiskaltdcpp
Terminal=false
GenericName=DC++ client
Comment=Share files over the DC++ network
Categories=Network;FileTransfer;P2P;Qt;
MimeType=x-scheme-handler/magnet;x-scheme-handler/dchub;x-scheme-handler/nmdcs;x-scheme-handler/adc;x-scheme-handler/adcs;
Keywords=FileSharing;Chat;p2p;DirectConnect;ADC;DHT;
GenericName[be]=Кліент сеткі DC++
GenericName[da]=DC++ client
GenericName[es]=Cliente DC++
GenericName[fr]=Client DC++
GenericName[ie]=Cliente DC++
GenericName[ru]=Клиент сетей DC++
GenericName[sv_SE]=DC++ klient
GenericName[tr]=DC++ istemcisi
GenericName[uk]=Клієнт DC++
Comment[be]=Паздяляйцеся файламі праз сетку DC++
Comment[da]=Del filer over DC++ netværket
Comment[es]=Compartir archivos bajo la red DC++
Comment[fr]=Partager des fichiers sur le réseau DC++
Comment[ie]=Partir files trans li rete DC++
Comment[ru]=Делитесь файлами с помощью сетей DC++
Comment[sv_SE]=Dela filer över nätverket DC++
Comment[tr]=DC++ ağında dosya paylaşın
Comment[uk]=Діліться файлами за допомогою мереж DC++
