[Desktop Entry]
Name=EiskaltDC++ Qt
Type=Application
Exec=eiskaltdcpp-qt %U
Icon=eiskaltdcpp
Terminal=false
GenericName=DC++ client
Comment=Share files over the DC++ network
Categories=Network;FileTransfer;P2P;Qt;
MimeType=x-scheme-handler/magnet;x-scheme-handler/dchub;x-scheme-handler/adc;x-scheme-handler/adcs;
Keywords=FileSharing;Chat;p2p;DirectConnect;ADC;DHT;


# Translations
GenericName[ru]=Клиент сетей DC++
Comment[ru]=Делитесь файлами с помощью сетей DC++
