language: cpp

compiler:
  - gcc
  - clang

env:
  - OS=Windows
  - USE_QT=qt4
  - USE_QT=qt5
  - USE_GTK=gtk2
  - USE_GTK=gtk3
  - USE_DAEMON=ON

# avoid twice build for OS=Windows
matrix:
  exclude:
    - compiler: clang
      env: OS=Windows

install:
  - tests/travis/install-build-depends.sh

script:
  - tests/travis/build-and-test.sh
