language: cpp

dist: xenial

compiler:
  - gcc
  - clang

env:
  - TARGET_OS=Windows
  - USE_QT=qt4
  - USE_QT=qt5
  - USE_GTK=gtk2
  - USE_GTK=gtk3
  - USE_DAEMON=ON

# avoid twice build for TARGET_OS=Windows
matrix:
  exclude:
    - compiler: clang
      env: TARGET_OS=Windows

install:
  - tests/travis/install-build-depends.sh

script:
  - tests/travis/build-and-test.sh
