[main]
host = https://www.transifex.com

[eiskaltdcpp.eiskaltdcpp-qt]
file_filter = translations/eiskaltdcpp.eiskaltdcpp-qt/<lang>.ts
source_file = translations/eiskaltdcpp.eiskaltdcpp-qt/en.ts
source_lang = en

[eiskaltdcpp.eiskaltdcpp-gtk]
file_filter = translations/eiskaltdcpp.eiskaltdcpp-gtk/<lang>.po
source_file = translations/eiskaltdcpp.eiskaltdcpp-gtk/en.po
source_lang = en

[eiskaltdcpp.libeiskaltdcpp]
file_filter = translations/eiskaltdcpp.libeiskaltdcpp/<lang>.po
source_file = translations/eiskaltdcpp.libeiskaltdcpp/en.po
source_lang = en

[eiskaltdcpp.desktop-file]
file_filter = translations/eiskaltdcpp.desktop-file/<lang>.desktop
source_file = translations/eiskaltdcpp.desktop-file/en.desktop
source_lang = en
