[main]
host = https://www.transifex.com

[eiskaltdcpp.eiskaltdcpp-qt]
file_filter = translations/eiskaltdcpp.eiskaltdcpp-qt/<lang>.ts
source_file = translations/eiskaltdcpp.eiskaltdcpp-qt/en.ts
source_lang = en

[eiskaltdcpp.eiskaltdcpp-gtk]
file_filter = translations/eiskaltdcpp.eiskaltdcpp-gtk/<lang>.po
source_file = translations/eiskaltdcpp.eiskaltdcpp-gtk/en.po
source_lang = en

[eiskaltdcpp.dcpp]
file_filter = translations/eiskaltdcpp.dcpp/<lang>.po
source_file = translations/eiskaltdcpp.dcpp/en.po
source_lang = en
