[Desktop Entry]
Name=EiskaltDC++ Gtk
Type=Application
Exec=eiskaltdcpp-gtk %U
Icon=eiskaltdcpp
Terminal=false
GenericName=DC++ client
Comment=Share files over the DC++ network
Categories=Network;FileTransfer;P2P;Qt;
MimeType=x-scheme-handler/magnet;x-scheme-handler/dchub;x-scheme-handler/adc;x-scheme-handler/adcs;
Keywords=FileSharing;Chat;p2p;DirectConnect;ADC;DHT;
GenericName[be]=Кліент сеткі DC++
GenericName[es]=Cliente DC++
GenericName[fr]=Client DC++
GenericName[ru]=Клиент сетей DC++
GenericName[sv_SE]=DC++ klient
GenericName[tr]=DC++ istemcisi
Comment[be]=Паздяляйцеся файламі праз сетку DC++
Comment[es]=Compartir archivos bajo la red DC++
Comment[fr]=Partager des fichiers sur le réseau DC++
Comment[ru]=Делитесь файлами с помощью сетей DC++
Comment[sv_SE]=Dela filer över nätverket DC++
Comment[tr]=DC++ ağında dosya paylaşın
